[Desktop Entry]
Type=Application
Exec=OTPClient
MimeType=application/x-your-mime-type;
Icon=otpclient
Keywords=otp;totp;hotp
Terminal=false
Name=OTPClient
GenericName=OTPClient
Comment=GTK+ TOTP and HOTP client
Categories=GTK;GNOME;Utility;

