[Desktop Entry]
Type=Application
Exec=otpclient
Icon=com.github.paolostivanin.OTPClient
Keywords=otp;totp;hotp;
Terminal=false
Name=OTPClient
Comment=GTK+ TOTP and HOTP client
Categories=GTK;GNOME;Utility;
StartupWMClass=otpclient
