[Desktop Entry]
Type=Application
Exec=otpclient
Icon=com.github.paolostivanin.OTPClient
Keywords=otp;totp;hotp;2fa
Terminal=false
Name=OTPClient
Comment=GTK+ TOTP and HOTP client
Categories=System;Security;GTK;GNOME;
StartupWMClass=otpclient
X-Purism-FormFactor=Workstation;Mobile;
