[Desktop Entry]
Type=Application
Exec=otpclient
Icon=otpclient
Keywords=otp;totp;hotp
Terminal=false
Name=OTPClient
Comment=GTK+ TOTP and HOTP client
Categories=GTK;GNOME;Utility;

